---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aportes">
    <main>
        <h1>
            esta va a ser la parte donde podran saber sobre mi y podran
            comunicarse conmigo
        </h1>

        <div>
            <p>p1</p>
            <p>p2</p>
            <p>p3</p>
        </div>
    </main>
</Layout>
