---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aportes">
    <main>
        <h1 class="text-center">
            esta va a ser la parte donde podran saber sobre mi y podran
            comunicarse conmigo
        </h1>
    </main>
</Layout>
