---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Whatsapp">
    <main>
        <h1>Esta es mi pagina de prueba principal de intro</h1>

        <p>
            Lorem ipsum dolor sit, ducimus a nostrum? Aut sunt soluta voluptatum
            tur, ratione, illum molestiae voluptatem odio dolores.
        </p>
    </main>
</Layout>
