---
const labelInicio = "Inicia Sesión Con Nosotros";

console.log(labelInicio);
---

<section class="flex justify-end py-2 pe-4 bg-[#E5EBEB]">
    <a
        class="px-8 py-1 text-lg font-medium underline transition scale-100 hover:text-gray-500 duration-50 dark:text-black underline-offset-2 decoration-2 active:scale-95"
        href="login"
        aria-label={labelInicio}
        title={labelInicio}>Iniciar Sesión</a
    >
</section>
<header class="min-w-full px-4 py-8 mx-auto font-sans lg:pt-10 lg:px-8">
    <div class="flex flex-col items-center text-white space-y-7">
        <h1
            class="relative px-2 text-5xl font-black text-center text-transparent scale-95 md:scale-100 md:text-6xl bg-clip-text bg-gradient-to-tr from-cyan-500 to-sky-300"
        >
            AnimeVisionLatina es para <span> Todos! </span>
        </h1>
        <strong
            class="max-w-4xl text-lg font-medium text-center text-slate-300 min-w-sm"
            >Es aqui un pedazo de mi donde podran pasarla bien y distraerse un
            rato con su entretenimiento favorito!
        </strong>
    </div>
</header>
