---
import BtnesMove from "./BtnesMove.astro";
---

<header class="max-w-full mx-auto px-4 py-8 lg:pt-10 lg:px-8 font-sans">
    <div class="flex items-center flex-col text-white space-y-7">
        <h1
            class="text-6xl font-bold text-center pb-2 relative bg-clip-text text-transparent bg-gradient-to-tr from-cyan-500 to-sky-300"
        >
            AnimeVLa es para <span> Todos! </span>
        </h1>
        <strong
            class="text-xl text-slate-300 font-normal max-w-2xl min-w-sm text-pretty"
            >He aqui un inicio para ir dando grandes pasos, añadimos cada vez
            mas de tus animes favoritos!
        </strong>
    </div>
    <div
        class="text-white text-sm m-4 space-y-6 md:mb-5 md:m-10 md:flex-row md:space-y-0 md:space-x-12 flex flex-col items-center justify-center"
    >
        <BtnesMove>Coleccion</BtnesMove>
        <BtnesMove ruta="aportes">Aportes</BtnesMove>
    </div>
</header>
