<a
    role="button"
    class="text-sm px-5 py-2 underline decoration-1 hover:text-slate-400 font-semibold"
    href="/"
>
    <slot />
    <slot name="simbol"
        ><span class="inline-block -rotate-90 md:rotate-0">&#8595; </span></slot
    ></a
>
