---
// Supports weights 100-900
import '@fontsource-variable/dm-sans';
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="keywords" content="mecheras" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>{title} - Anime visión latina</title>

		<!-- OG: -->
		 <meta name="og:title" content="">
		 <meta name="og:type" content="">
		 <meta name="og:url" content="">
		 <meta name="og:image" content="">
		 <meta name="og:alt" content="">
		<!-- TW: -->
 		 <meta name="twitter:site" content="AnimeVisiónLatina">
		 <meta name="twitter:site:id" content="0">
		 <meta name="twitter:creator" content="larry">
		 <meta name="twitter:creator:id" content="0">

		<ViewTransitions />
	</head>
	<body class="min-h-screen pb-20 bg-gray-900 animate-blurred-fade-in duration-50">
		
	<slot></slot>
	</body>
</html>
<style is:global>
	
	html {
		font-family:'DM Sans Variable'!important;
		background: #13151a;
		color-scheme: dark light;
	}
	
	::-webkit-scrollbar {
		width: 0.5rem;
	}

	::-webkit-scrollbar-track {
		background:
			linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0.15) 0%,
				rgba(0, 0, 0, 0.15) 100%
			),
			radial-gradient(
					at top center,
					rgba(255, 255, 255, 0.4) 0%,
					rgba(0, 0, 0, 0.4) 120%
				)
				#989898;
		background-blend-mode: multiply, multiply;
		border-top-right-radius: 100vw;
		border-bottom-right-radius: 100vw;
		border-radius: 0;
		margin-block: 0;
	}

	::-webkit-scrollbar-thumb {
		background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
		border: 2px solid #797979;
		border-radius: 100vw;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #01c0ff;
	}
	
	@supports (scrollbar-color: #4481eb #797979;) {
		 {
			scrollbar-color: #4481eb #797979;
		}
	}
</style>
